:root {
    --blue: #8aadf4;
    --peach: #f5a97f;
    --rosewater: #f4dbd6;
    --yelllow: #eed49f;
    --red: #ed8796;
    --green: #a6da95;
    --accent: #c6a0f6;
    --text: #cad3f5;
    --subtext1: #b8c0e0;
    --subtext0: #a5adcb;
    --overlay2: #939ab7;
    --overlay1: #8087a2;
    --overlay0: #6e738d;
    --surface2: #5b6078;
    --surface1: #494d64;
    --surface0: #363a4f;
    --base: #24273a;
    --mantle: #1e2030;
    --crust: #181926;

    --latte-yellow: #df8e1d;
    --latte-red: #d20f39;
    --latte-accent: #704cae;
    --latte-text: #4c4f69;
    --latte-overlay2: #7c7f93;
    --latte-overlay1: #8c8fa1;
    --latte-overlay0: #9ca0b0;
    --latte-surface2: #acb0be;
    --latte-surface1: #bcc0cc;
    --latte-surface0: #ccd0da;
    --latte-base: #eff1f5;
    --latte-mantle: #e6e9ef;
    --latte-crust: #dce0e8;
}

#poststuff .postbox.acf-postbox {}

.postbox.acf-postbox .postbox-header {
    padding: 10px;
    text-align: center;
    background: #93a1af;
}

#poststuff .postbox.acf-postbox .postbox-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    border: solid var(--latte-surface1);
    border-width: 1px 1px 3px;
    background-color: var(--latte-surface0);
}

#poststuff .postbox.acf-postbox .postbox-header h2 {
    font-size: 18px;
    color: var(--latte-text);
    letter-spacing: 0.5px;
    text-transform: lowercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#poststuff .postbox.acf-postbox .postbox-header .handle-actions button, #poststuff .postbox.acf-postbox .postbox-header .handle-actions button .toggle-indicator, #poststuff .postbox.acf-postbox .postbox-header .handle-actions a {
    color: var(--latte-text);
}

#poststuff .postbox.acf-postbox .postbox-header .handle-actions button.handlediv {
}

#poststuff .postbox.acf-postbox .inside {
    border-radius: 0;
    overflow: hidden;
}

#poststuff .postbox.acf-postbox .inside > .acf-field {
    padding-bottom: 16px;
    background-color: var(--latte-base);
    border: 0;
}

#poststuff .postbox.acf-postbox .inside > .acf-field > .acf-label label {
    display: flex;
    padding: 10px;
    font-size: 18px;
    align-items: center;
    margin-bottom: 0;
    font-weight: 500;
    color: var(--latte-text);
    border-radius: 3px 3px 0 0;
    background-color: var(--latte-surface0);
    border-bottom: 1px solid #aeb9c3;
    font-family: 'Space Grotesk', sans-serif;
}

#poststuff .postbox.acf-postbox .inside > .acf-field > .acf-input {
    padding: 10px;
    background-color: var(--latte-base);
    border-radius: 0 0 3px 3px;
    border: 1px solid #aeb9c3;
    border-top: 0;
}

#poststuff .postbox.acf-postbox .inside > .acf-field > .acf-label {
    padding: 0;
    background-color: #d6dce0;
    border-radius: 3px 3px 0 0;
    border: 1px solid #aeb9c3;
    border-bottom: 0;
    margin-bottom: 0;
}

#poststuff .postbox.acf-postbox .inside > .acf-field > .acf-label .description {
    display: block;
    margin-top: 0;
    color: #667085;
    padding: 6px 10px 5px;
    background: var(--latte-base);
    opacity: 1;
}

#poststuff .postbox.acf-postbox .acf-fc-layout-handle {
    display: flex;
    font-size: 18px;
    align-items: center;
    font-weight: 500;
    color: var(--latte-text);
    background-color: var(--latte-surface0);
    border-bottom: 1px solid #aeb9c3;
    font-family: 'Space Grotesk', sans-serif;
}

#poststuff .postbox.acf-postbox .acf-fc-layout-order {
    display: flex;
    border-radius: 3px;
    color: var(--latte-text);
    background-color: var(--latte-overlay0);
    box-shadow: 0 2px 0 0 var(--latte-overlay2);
    border: 1px solid var(--latte-overlay2);
    width: 30px;
    height: 30px;
    justify-content: center;
    font-weight: 500;
    align-items: center;
    margin-right: 10px;
    line-height: 30px;
    font-size: 16px;
}

#poststuff .postbox.acf-postbox .layout {
    border: 1px solid #aeb9c3;
    border-radius: 3px;
    margin: 20px 0 0;
}

#poststuff .postbox.acf-postbox .acf-fc-layout-controls {
    top: 12px;
    right: 12px;
}

#poststuff .postbox.acf-postbox .acf-fc-layout-controls .acf-icon {
    display: flex;
    border-radius: 3px;
    color: var(--latte-text);
    background-color: var(--latte-overlay0);
    box-shadow: 0 2px 0 0 var(--latte-overlay2);
    border: 1px solid var(--latte-overlay2);
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

#poststuff .postbox.acf-postbox .layout > .acf-fields > .acf-field > .acf-label label {
    display: none;
}

#poststuff .postbox.acf-postbox .layout > .acf-fields > .acf-field > .acf-label .description {
    margin-top: 0;
}

#poststuff .postbox.acf-postbox .button.button-primary {
    width: 50%;
    min-width: 460px;
    padding: 10px 50px;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    border-radius: 3px;
    color: var(--latte-base);
    background-color: color-mix(in oklab, var(--latte-accent) 70%, var(--latte-text));
    box-shadow: 0 2px 0 0 color-mix(in oklab, var(--latte-accent) 20%, var(--latte-text));
    border: 1px solid color-mix(in oklab, var(--latte-accent) 20%, var(--latte-text));
    font-weight: 500;
    font-size: 16px;
}

#poststuff .postbox.acf-postbox .button.button-primary:hover {
    color: var(--latte-base);
    background-color: color-mix(in oklab, var(--latte-accent) 90%, var(--latte-text));
    box-shadow: 0 2px 0 0 color-mix(in oklab, var(--latte-accent) 40%, var(--latte-text));
    border: 1px solid color-mix(in oklab, var(--latte-accent) 40%, var(--latte-text));
}

#poststuff .postbox.acf-postbox .acf-actions {
    text-align: left;
    width: 100%;
}

#poststuff .postbox.acf-postbox .acf-repeater > .acf-actions .acf-button {
    float: left;
    width: 100%;
}

#poststuff .postbox.acf-postbox .button.button-primary:active {
    box-shadow: 0 0 15px 0 rgba(33,38,43,0);
    transform: translateY(2px);
}

.acf-flexible-content .layout {
    background: var(--latte-base);
}

.acf-repeater .acf-row-handle.order + td {
    background: white;
}

input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
    box-shadow: 0 0 0 transparent;
    border-radius: 3px;
    background-color: white;
    border-color: var(--latte-surface1);
    color: var(--latte-text);
}

.acf-input-wrap .acf-is-prepended {
    border-radius: 0 3px 3px 0 !important;
}

.acf-input-prepend, .acf-input-append {
    border-color: var(--latte-surface1);
    background-color: white;
    color: var(--latte-text);
}

input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus {
    border-color: var(--latte-accent);
    box-shadow: 0 0 10px 5px color-mix(in oklab, var(--latte-accent) 5%, var(--latte-crust));
}

#poststuff .postbox.acf-postbox .acf-input input,
#poststuff .postbox.acf-postbox .acf-input textarea {
    background: white;
}

#poststuff .postbox.acf-postbox [data-layout=naglowek] .acf-input input {
    font-size: 30px;
    font-weight: 500;
    font-family: Georgia,Times New Roman,Bitstream Charter,Times,serif;
    letter-spacing: .03em;
}

#acf-group_5ee6ab4ba9c70.postbox.acf-postbox .postbox-header h2:before,
#acf-group_649062d955917.postbox.acf-postbox .postbox-header h2:before,
#acf-group_6528f4574e07b.postbox.acf-postbox .postbox-header h2:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 3px;
}

#poststuff #acf-group_649062d955917.postbox.acf-postbox .postbox-header h2:before,
#poststuff #acf-group_6528f4574e07b.postbox.acf-postbox .postbox-header h2:before {
    background: url(../images/headphones.svg) center no-repeat;
    background-size: contain;
}

#poststuff #acf-group_5ee6ab4ba9c70.postbox.acf-postbox .postbox-header h2:before {
    background: url(../images/stack-2.svg) center no-repeat;
    background-size: contain;
}

.acf-table {
    border-radius: 3px;
}

.acf-gallery .acf-gallery-main {}

.acf-gallery {
    border-radius: 3px;
    overflow: hidden;
    border-color: var(--latte-surface1);
}

.acf-gallery .acf-gallery-toolbar {
    border-color: var(--latte-surface1);
}

#poststuff .postbox.acf-postbox .acf-gallery .acf-gallery-side .button.button-primary {
    min-width: 0;
    padding: 1px 24px;
    width: auto;
}

.acf-repeater .acf-row-handle.order {
    background: var(--latte-base);
}

.acf-repeater .acf-row-handle.remove {
    background: var(--latte-base);
}

.acf-repeater .acf-row-handle.order {
    color: var(--latte-text);
}

.acf-file-uploader .file-icon {
    background-color: var(--latte-base);
    display: flex;
    align-items: center;
}

.acf-file-uploader .file-icon img {
    max-width: 25px;
}

.postbox-header .handle-actions {
    display: flex;
    align-items: center;
}

#poststuff .postbox.acf-postbox .button.button-primary[data-name=add-layout] {
    margin: 0 auto;
    padding: 14px 50px;
    text-align: center;
    color: var(--latte-base);
    background-color: color-mix(in oklab, var(--latte-accent) 70%, var(--latte-text));
    box-shadow: 0 2px 0 0 color-mix(in oklab, var(--latte-accent) 20%, var(--latte-text));
    border: 1px solid color-mix(in oklab, var(--latte-accent) 20%, var(--latte-text));
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.3px;
    width: 100%;
    max-width: 100%;
}

#poststuff .postbox.acf-postbox .button.button-primary[data-name=add-layout]:hover {
    color: var(--latte-base);
    background-color: color-mix(in oklab, var(--latte-accent) 90%, var(--latte-text));
    box-shadow: 0 2px 0 0 color-mix(in oklab, var(--latte-accent) 40%, var(--latte-text));
    border: 1px solid color-mix(in oklab, var(--latte-accent) 40%, var(--latte-text));
}

#poststuff .postbox.acf-postbox .button.button-primary[data-name=add-layout]:active {
    box-shadow: 0 0 15px 0 rgba(33,38,43,0);
    transform: translateY(2px);
}

#poststuff .postbox.acf-postbox .layout[data-layout=akordeon] .acf-field-text input {
    font-size: 22px;
    font-weight: 500;
    font-family: Georgia,Times New Roman,Bitstream Charter,Times,serif;
    letter-spacing: .03em;
}

#poststuff .postbox.acf-postbox .layout[data-layout=akordeon] .acf-field-text + .acf-field {
    border-top: 0;
    padding-top: 0;
}

.acf-field textarea {
    margin: 0;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    line-height: 1.35;
    font-weight: 400;
    letter-spacing: .03em;
    position: relative;
    z-index: 1;
    font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
    color: var(--latte-text);
}

.acf-switch {
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    background: var(--latte-base);
    height: 30px;
    vertical-align: middle;
    border: var(--latte-surface1) solid 1px;
    transition: background 0.25s ease;
}
.acf-switch span {
    display: inline-block;
    float: left;
    text-align: center;
    font-size: 13px;
    line-height: 22px;
    padding: 4px 10px;
    min-width: 15px;
}
.acf-switch span i {
    vertical-align: middle;
}
.acf-switch .acf-switch-on {
    color: #fff;
    text-shadow: #8f7f74 0 1px 0;
}
.acf-switch .acf-switch-slider {
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 50%;
    z-index: 1;
    background: #fff;
    border-radius: 3px;
    border: var(--latte-surface1) solid 1px;
    transition: all 0.25s ease;
    transition-property: left, right;
}
.acf-switch:hover, .acf-switch.-focus {
    border-color: color-mix(in oklab, var(--latte-accent) 20%, var(--latte-text));
    background: #f3f5f6;
    color: var(--latte-text);
}
.acf-switch:hover .acf-switch-slider, .acf-switch.-focus .acf-switch-slider {
    border-color: color-mix(in oklab, var(--latte-accent) 20%, var(--latte-text));
}
.acf-switch.-on {
    background: color-mix(in oklab, var(--latte-accent) 70%, var(--latte-text));
    border-color: color-mix(in oklab, var(--latte-accent) 20%, var(--latte-text));
    /* hover */
}
.acf-switch.-on .acf-switch-slider {
    left: 50%;
    right: 2px;
    border-color: color-mix(in oklab, var(--latte-accent) 20%, var(--latte-text));
}
.acf-switch.-on:hover {
    border-color: color-mix(in oklab, var(--latte-accent) 20%, var(--latte-text));
}
.acf-switch + span {
    margin-left: 6px;
}
/* checkbox */
.acf-switch-input {
    opacity: 0;
    position: absolute;
    margin: 0;
}
.acf-admin-single-field-group .acf-true-false {
    border: 1px solid transparent;
}
.acf-admin-single-field-group .acf-true-false:focus-within {
    border: 1px solid #998d81;
    border-radius: 120px;
}

.acf-editor-wrap {
    position: relative;
    background: #fff;
    max-width: 1366px
}

.acf-editor-wrap:after {
    content: "";
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    height: calc(100% - 91px);
    width: 730px;
    opacity: .5;
    pointer-events: none;
    z-index: 0
}

.acf-editor-wrap .wp-editor-tools {
    background-color: var(--latte-base)
}

.acf-editor-wrap .wp-editor-tabs {
    float: left
}

.acf-editor-wrap .mce-tinymce {
    -webkit-box-shadow: none;
    box-shadow: none
}

.acf-editor-wrap .mce-panel {
    background-color: transparent
}

.acf-editor-wrap .mce-panel.mce-fullscreen {
    background: #fff
}

.acf-editor-wrap .mce-panel.mce-fullscreen:after {
    content: "";
    display: block;
    position: absolute;
    top: 42px;
    left: 0;
    height: calc(100% - 63px);
    width: 730px;
    opacity: .5;
    pointer-events: none;
    z-index: 1
}

.acf-editor-wrap .wp-switch-editor {
    float: left;
    color: var(--latte-text);
    background-color: var(--latte-overlay0);
    border: 1px solid var(--latte-overlay2);
    border-radius: 3px 3px 0 0
}

.acf-editor-wrap .wp-switch-editor.switch-tmce {
    margin-left: 0;
    margin-top: 0
}

.acf-editor-wrap .wp-switch-editor.switch-html {
    margin-top: 0
}

.acf-editor-wrap.html-active .switch-html,.acf-editor-wrap.tmce-active .switch-tmce {
    border-color: var(--latte-surface1);
    border-bottom-color: transparent;
    background-color: var(--latte-base);
}

.acf-editor-wrap .wp-editor-container {
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    border-radius: 0 3px 3px 3px;
    border: 1px solid var(--latte-surface1);
    background-color: transparent;
    color: var(--latte-text)
}

.acf-editor-wrap .mce-toolbar .mce-ico {
    color: var(--latte-text)
}

.acf-editor-wrap .mce-toolbar .mce-btn-group .mce-listbox {
    border: 1px solid var(--latte-surface1)
}

.acf-editor-wrap .mce-toolbar .mce-btn-group .mce-btn {
    border-radius: 6px
}

.acf-editor-wrap .mce-toolbar .mce-btn-group .mce-btn:hover {
    color: var(--latte-text);
    background-color: var(--latte-overlay0);
    box-shadow: 0 2px 0 0 var(--latte-overlay2);
    border: 1px solid var(--latte-overlay2);
}

.acf-editor-wrap .mce-toolbar .mce-btn-group .mce-btn:active {
    -webkit-box-shadow: 0 0 0 0 rgba(153,141,129,0);
    box-shadow: 0 0 0 0 rgba(153,141,129,0);
    -webkit-transform: translateY(2px);
    transform: translateY(2px)
}

.acf-editor-wrap .mce-top-part:before {
    display: none
}

.acf-editor-wrap .mce-toolbar-grp {
    border-radius: 0 3px 0 0;
    background-color: var(--latte-base);
    border-bottom: 1px solid var(--latte-surface1)
}

.acf-editor-wrap .mce-statusbar {
    border-top: 1px solid var(--latte-surface1)
}

.acf-editor-wrap .mce-statusbar .acfcounter {
    border-radius: 0 0 3px 3px;
    background-color: var(--latte-base);
    color: var(--latte-text);
    padding: 2px 5px;
    font-size: 12px;
    border-top: 1px solid var(--latte-surface1);
}

.acf-editor-wrap .quicktags-toolbar .button {
    border-radius: 6px;
    color: var(--latte-text);
    background-color: var(--latte-overlay0);
    box-shadow: 0 2px 0 0 var(--latte-overlay2);
    border: 1px solid var(--latte-overlay2);
}

.acf-editor-wrap .quicktags-toolbar .button:hover {
    color: #655d55;
    color: var(--latte-text);
    background-color: var(--latte-overlay0);
    box-shadow: 0 2px 0 0 var(--latte-overlay2);
    border: 1px solid var(--latte-overlay2);
}

.acf-editor-wrap .quicktags-toolbar .button:active {
    -webkit-box-shadow: 0 0 0 0 rgba(153,141,129,0);
    box-shadow: 0 0 0 0 rgba(153,141,129,0);
    -webkit-transform: translateY(2px);
    transform: translateY(2px)
}

#acf-group_5ee6ab4ba9c70 [data-name=content_builder]>.acf-input>.acf-flexible-content>.acf-actions {
    padding: 20px;
    margin-top: 10px;
    border-radius: 3px;
    color: var(--latte-text);
    background-color: var(--latte-base);
    border: 1px dashed var(--latte-surface1);
    text-align: center;
    box-sizing: border-box;
}

.acf-flexible-content .no-value-message {
    border: 1px dashed var(--latte-surface1);
    background-color: var(--latte-base);
}

/* Audioprzewodnik */

#acf-group_649062d955917 .acf-ajax-info {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 11px;
    color: #0baa38;
    background: #daf9e3;
    border: 1px solid #2fcf5c;
    background-color: #EDF7EF;
    border-color: #B6DEB9;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
}

#acf-group_649062d955917 .acf-field.acf-field-repeater.acf-field-649062d9ace36 {
    border-top: 0;
    background-color: rgba(174,185,195,.35);
}

#acf-group_649062d955917 .acf-fields > .acf-tab-wrap .acf-tab-group li a {
    color: var(--latte-text);
    background-color: rgba(175,161,147,.75);
    border: 1px solid var(--latte-surface1);
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    padding: 4px;
    width: 100%;
    font-size: 10px;
    letter-spacing: 0.5px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

#acf-group_649062d955917 .acf-fields > .acf-tab-wrap .acf-tab-group li.active a {
    background: var(--latte-base);
    border-color: #dfdfdf;
    margin-bottom: 0;
    color: #667085;
}

#acf-group_649062d955917 .acf-tab-group {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0;
}

#acf-group_649062d955917 .acf-tab-group li {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#acf-group_649062d955917 .acf-fields > .acf-field {
    border-top: 1px solid rgb(223 223 223);
}

#acf-group_649062d955917 > .acf-fields > .acf-field {
    border-top: 0;
}

#acf-group_649062d955917 .acf-tab-group li:last-child {
    margin-right: 0;
}

#acf-group_649062d955917 .acf-field .acf-label label {
    color: var(--latte-text);
}

#acf-group_649062d955917 input[type=date], #acf-group_649062d955917 input[type=datetime-local], #acf-group_649062d955917 input[type=datetime], #acf-group_649062d955917 input[type=email], #acf-group_649062d955917 input[type=month], #acf-group_649062d955917 input[type=number], #acf-group_649062d955917 input[type=password], #acf-group_649062d955917 input[type=search], #acf-group_649062d955917 input[type=tel], #acf-group_649062d955917 input[type=text], #acf-group_649062d955917 input[type=time], #acf-group_649062d955917 input[type=url], #acf-group_649062d955917 input[type=week], #acf-group_649062d955917 select, #acf-group_649062d955917 textarea {
    border-color: #dfdfdf;
    color: var(--latte-text);
}

#acf-group_649062d955917 textarea {
    padding: 5px 10px;
    max-width: 1366px;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    border-radius: 6px;
    background-color: #fff;
    color: var(--latte-text);
    font-family: Georgia,Times New Roman,Bitstream Charter,Times,serif;
    font-weight: 400;
    line-height: 1.35;
    font-size: 20px;
    -webkit-font-smoothing: antialiased !important;
}

#acf-group_649062d955917 .acf-file-uploader .file-wrap {
    border-color: #dfdfdf;
    min-height: 81px;
    border-radius: 6px;
}

#acf-group_649062d955917 .acf-file-uploader .file-info {
    color: var(--latte-text);
    margin-left: 40px;
}

#acf-group_649062d955917 .acf-file-uploader .file-icon {
    background: var(--latte-base);
    border-radius: 6px 0 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#acf-group_649062d955917 .acf-file-uploader .file-icon img {
    max-width: 20px;
}

#acf-group_649062d955917 .acf-file-uploader .file-info a {
    color: #aba094;
}

#acf-group_649062d955917 .postbox-header .acf-hndle-cog,
#acf-group_649062d955917 .postbox-header .handle-order-higher,
#acf-group_649062d955917 .postbox-header .handle-order-lower,
#acf-group_649062d955917 .postbox-header .toggle-indicator,
#acf-group_6528f4574e07b .postbox-header .acf-hndle-cog,
#acf-group_6528f4574e07b .postbox-header .handle-order-higher,
#acf-group_6528f4574e07b .postbox-header .handle-order-lower,
#acf-group_6528f4574e07b .postbox-header .toggle-indicator{
    color: var(--latte-text);
}

#acf-group_649062d955917 input[type=text]:focus, #acf-group_649062d955917 textarea:focus {
    border-color: #998d81;
    -webkit-box-shadow: 0 0 10px 5px rgba(153,141,129,.1);
    box-shadow: 0 0 10px 5px rgba(153,141,129,.1);
}

#acf-group_649062d955917 [data-name=tytul] .acf-input input,
#acf-group_649062d955917 [data-name=tytul_uk] .acf-input input {
    font-size: 30px;
    font-weight: 500;
    font-family: Georgia,Times New Roman,Bitstream Charter,Times,serif;
    letter-spacing: .03em;
    -webkit-font-smoothing: antialiased !important;
}

#acf-group_649062d955917 .acf-field .acf-label label {
    color: #667085;
    font-size: 13px;
    font-weight: 400;
}

#acf-group_649062d955917 .acf-field p.description {
    display: block;
    margin-top: 3px;
    color: #667085;
    font-size: 11px;
}

#acf-group_649062d955917 .inside.acf-fields,
#acf-group_6528f4574e07b .inside.acf-fields{
    border-radius: 0 0 12px 12px;
    overflow: hidden;
}

#acf-group_649062d955917 [data-name=tytul_uk],
#acf-group_649062d955917 [data-name=opis_uk],
#acf-group_649062d955917 [data-name=opis_uk_kopia],
#acf-group_649062d955917 [data-name=opis_lektor_kopia] {
    background: rgb(249 249 249) url(../images/language.svg) center no-repeat;
    background-size: 18px;
    background-position: top 5px right 5px;
}

#acf-group_649062d955917 .acf-field[data-name=tytul_uk] .acf-label label,
#acf-group_649062d955917 .acf-field[data-name=opis_uk] .acf-label label,
#acf-group_649062d955917 .acf-field[data-name=opis_uk_kopia] .acf-label label,
#acf-group_649062d955917 .acf-field[data-name=opis_lektor_kopia] .acf-label label {
    color: var(--latte-text);
}

#acf-group_5ee6ab4ba9c70 .button {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    letter-spacing: 0.3px;
}

#acf-group_649062d955917 .acf-fields > .acf-field .acf-button-group label {
    padding: 5px 20px;
    background-color: var(--latte-base);
    color: var(--latte-text);
    box-shadow: 0 2px 0 0 rgb(171 160 148);
    border: 1px solid rgb(223 223 223);
    font-weight: 500;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    min-width: 145px;
    font-family: "IBM Plex Sans", sans-serif;
    letter-spacing: 0.3px;
    width: 33.333%;
}

#acf-group_649062d955917 .acf-fields > .acf-field .acf-button-group label.selected {
    background-color: #93a1af;
    color: var(--latte-text);
    border: 1px solid rgba(33,38,43,.15);
    -webkit-box-shadow: 0 2px 0 0 rgba(33,38,43,.75), 0 0 15px 0 rgba(33,38,43,.15);
    box-shadow: 0 2px 0 0 rgba(33,38,43,.75), 0 0 15px 0 rgba(33,38,43,.15);
}

#acf-group_649062d955917 .acf-fields > .acf-field .acf-button-group {
    width: 100%;
}

#acf-group_649062d955917 .acf-fields > .acf-field[data-name=elevenlabs_voice_id],
#acf-group_649062d955917 .acf-fields > .acf-field[data-name=stability],
#acf-group_649062d955917 .acf-fields > .acf-field[data-name=clarity],
#acf-group_649062d955917 .acf-fields > .acf-field[data-name=style_exaggeration] {
    background: rgba(174,185,195,.35);
}

#acf-group_649062d955917 .acf-fields > .acf-field .acf-button-group label:not(.selected):hover {
    color: var(--latte-text);
    background: #e2e6ea;
    border-color: #cbd1d8;
    box-shadow: 0 2px 0 0 rgb(134 146 160);
}

#acf-group_649062d955917 .acf-fields > .acf-field .acf-button-group label:not(.selected):active {
    box-shadow: 0 0 15px 0 rgba(33,38,43,0);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

#acf-group_649062d955917 .acf-fields > .acf-field .acf-button-group label:first-child {
    border-radius: 6px 0 0 6px;
}

#acf-group_649062d955917 .acf-fields > .acf-field .acf-button-group label:last-child {
    border-radius: 0 6px 6px 0;
}

#acf-group_649062d955917 .acf-fields > .acf-field[data-name=elevenlabs_api_key] input,
#acf-group_6528f4574e07b .acf-fields > .acf-field[data-name=elevenlabs_api_key] input {
    font-family: monospace;
    pointer-events: none;
    font-size: 16px;
    background: url(../images/pattern-bg.png);
    color: #93a1af;
    border-color: #cbd1d8;
}

#acf-group_649062d955917 .acf-fields > .acf-field[data-name=elevenlabs_api_key] {
    display: none;
}

#acf-group_649062d955917 .acf-fields > .acf-field[data-name=elevenlabs_voice_id] input {
    font-family: monospace;
    font-size: 16px;
}

#acf-group_6528f4574e07b .acf-fields > .acf-field[data-name=elevenlabs_api_key] .acf-label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#acf-group_6528f4574e07b .acf-fields > .acf-field[data-name=elevenlabs_api_key] .acf-label label {
    margin: 0;
    padding: 7px 8px 6px 8px;
}

#acf-group_649062d955917 > .inside.acf-fields > .acf-tab-wrap > .acf-tab-group li.active a {
    background: #e2e6ea;
    border-color: #cbd1d8;
}

#acf-group_649062d955917 > .inside.acf-fields > .acf-tab-wrap > .acf-tab-group li a {
    background: #93a1af;
    color: #667085;
    border-color: #8692a0;
}

#acf-group_649062d955917 .acf-field input[type=range] {
    -webkit-appearance: none;
    margin: 0;
    width: calc(100% - 80px);
    background: transparent;
}
#acf-group_649062d955917 .acf-field input[type=range]:focus {
    outline: none;
}
#acf-group_649062d955917 .acf-field input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 0px 1px 0px #aba094, 0px 0px 1px #aba094;
    background: var(--latte-base);
    border-radius: 1.3px;
}
#acf-group_649062d955917 .acf-field input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 1px 0px #4e5258;
    border: 1px solid #838f9b;
    height: 18px;
    width: 18px;
    border-radius: 4px;
    background: #93a1af;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}
#acf-group_649062d955917 .acf-field input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--latte-base);
}
#acf-group_649062d955917 .acf-field input[type=range] + input[type=number] {
    background: var(--latte-base);
    box-shadow: 0 1px 0 0 rgb(171 160 148);
    border: 1px solid rgb(223 223 223);
    font-family: "IBM Plex Sans", sans-serif;
    letter-spacing: 0.3px;
    text-align: left;
    padding-right: 0;
    font-size: 12px;
    min-width: 60px;
}

#acf-group_649062d955917 .acf-fields > .acf-field[data-name=translate_title_remove],
#acf-group_649062d955917 .acf-fields > .acf-field[data-name=translate_remove] {
    border-top: 0;
    background-color: #f9f9f9;
    padding-top: 0;
}

#acf-group_649062d955917 .acf-fields > .acf-field[data-name=translate_title_remove] .acf-label label,
#acf-group_649062d955917 .acf-fields > .acf-field[data-name=translate_remove] .acf-label label {
    color: var(--latte-text);
}

.acf-field-acfe-hidden {
    display: none;
}

.acf-fields > .acf-tab-wrap {
    background: #ffffff;
    overflow: visible;
}

#poststuff .postbox.acf-postbox .inside > .acf-field[data-name=elevenlabs_api_key] > .acf-label {
    border: 0;
    background: transparent;
}

#poststuff .postbox.acf-postbox .inside > .acf-field[data-name=elevenlabs_api_key] > .acf-label label {
    background: #f9f9f9;
    border: 0;
    line-height: 32px;
}

#poststuff .postbox.acf-postbox .inside > .acf-field[data-name=elevenlabs_api_key] > .acf-input {
    border: 0;
    background-color: transparent;
}

#acf-group_649062d955917 .postbox-header .handle-actions {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

#poststuff #acf-group_649062d955917.postbox.acf-postbox .button.button-primary[data-name=add-layout] {
    padding: 5px;
    font-size: 13px;
    font-weight: 500;
}

#poststuff .postbox.acf-postbox .acf-field-repeater .acf-field-repeater .button.button-primary {
    font-size: 13px;
    padding: 5px;
}

#acf-group_649062d955917 .acf-fields > .acf-tab-wrap .acf-tab-group li.active a[data-key=field_6621b4265235a] {
    border-bottom: 1px solid #dfdfdf;
    display: none;
}

#acf-group_649062d955917 .acf-fields > .acf-field[data-name=translate] button,
#acf-group_649062d955917 .acf-fields > .acf-field[data-name=translate_remove] button {
    width: 100%;
    padding: 10px;
    text-align: center;
    color: var(--latte-text);
    background-color: #93a1af;
    box-shadow: 0 2px 0 0 rgba(33,38,43,.75), 0 0 15px 0 rgba(33,38,43,.15);
    border: 1px solid rgba(33, 38, 43, .15);
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.3px;
    width: 100%;
    max-width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

#acf-group_649062d955917 .acf-fields > .acf-field[data-name=translate],
#acf-group_649062d955917 .acf-fields > .acf-field[data-name=translate_remove] {
    background: var(--latte-base);
    border-top: 1px solid rgb(223 223 223);
    padding: 15px 12px;
}

#acf-group_649062d955917 .acf-fields > .acf-field[data-name=translate] .acf-label label,
#acf-group_649062d955917 .acf-fields > .acf-field[data-name=translate_remove] .acf-label label {
    color: var(--latte-text);
}

#acf-group_649062d955917 .acf-fields > .acf-field[data-name=translate] button:hover,
#acf-group_649062d955917 .acf-fields > .acf-field[data-name=translate_remove] button:hover {
    color: rgba(33, 38, 43, .75);
    border-color: rgba(26, 30, 34, .15);
    background-color: #8494a4;
    box-shadow: 0 2px 0 0 rgba(11,13,14,.75);
}

#acf-group_649062d955917 .acf-fields > .acf-field[data-name=translate] button:active,
#acf-group_649062d955917 .acf-fields > .acf-field[data-name=translate_remove] button:active {
    box-shadow: 0 0 15px 0 rgba(33,38,43,0);
    transform: translateY(2px);
}

.qr-code-canvas canvas {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.qr-code-canvas {
    padding: 20px;
    background: #ffffff;
    border-radius: 0;
    max-width: 500px;
    margin: 50px auto;
    display: block;
    border: 1px solid #dfdfdf;
}

.dot-flashing {
    position: relative;
    width: 3px;
    height: 3px;
    border-radius: 5px;
    background-color: #667085;
    color: #667085;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
    display: inline-block;
    margin-left: 5px;
    top: 1px;
}

.dot-flashing:before,
.dot-flashing:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-flashing:before {
    left: -5px;
    width: 3px;
    height: 3px;
    border-radius: 5px;
    background-color: #667085;
    color: #667085;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
}

.post-type-audioprzewodnik .acf-field[data-name=content_builder] {
    display: none;
}

.acf-field-taxonomy.acf-field-68d83e007f43b .acf-taxonomy-field .acf-actions { display: none; }

.dot-flashing:after {
    left: 5px;
    width: 3px;
    height: 3px;
    border-radius: 5px;
    background-color: #667085;
    color: #667085;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dot-flashing {
    0% { background-color: #667085; }
    50%, 100% { background-color: rgba(102, 112, 133, 0.2); }
}

.acf-tooltip {
    background: var(--mantle);
}

.acf-tooltip.top::before {
    border-top-color: var(--mantle);
}

.acf-fc-popup a:hover {
    color: var(--accent);
    background-color: var(--base);
}

.acf-field p.description {
    color: var(--latte-text);
}