# Database
DB_USER=bedrock
DB_NAME=bedrock
DB_PASSWORD=secret
DB_ROOT_PASSWORD=secret
DB_HOST='db'

# Docker env
# Commands
#   - docker compose -p example up -d
#   - docker compose run --rm node npm install
#   - docker compose run --rm node npm run dev
#   - docker compose run --rm node npm run build
APP_NAME=example
# Also set example.test in ./docker/nginx/default.conf > server_name
APP_DOMAIN=example.test
COMPOSE_NAME=EXAMPLE
WEB_PORT=7010
PMA_PORT=7011
DB_PORT=7012

# WP env
WP_ENV='development'
WP_HOME='http://example.test'
WP_SITEURL="${WP_HOME}/wp"

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY=''
SECURE_AUTH_KEY=''
LOGGED_IN_KEY=''
NONCE_KEY=''
AUTH_SALT=''
SECURE_AUTH_SALT=''
LOGGED_IN_SALT=''
NONCE_SALT=''
