# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/bedrock-disallow-indexing
web/app/mu-plugins/zavyn-*
web/app/mu-plugins/000-zavyn-loader.php
web/app/languages/*
web/app/themes/*
web/app/upgrade
web/app/upgrade-temp-backup
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*
web/app/ai1wm-backups

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
auth.json

# WP-CLI
wp-cli.local.yml

# IDE
.idea
